
.selection .inputbox{
    padding: 20px;
}
.selection .btn{
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding: 15px;
    border: 2px solid rgb(224, 217, 217);
    border-radius: 30px;
    justify-content: space-between;
}
.selection .inputbox input{
    border: 1px solid black;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-size: 15px;
}
.selection .inputbox #check{
    width: auto;
}
.selection .inputbox .rem{
    font-size: 20px;

}
.selection .inputbox .forget{
    font-size: 20px;
    float: right;
}
.selection .inputbox .enter{
    font-size: 30px;
    padding: 10px;
}
@media only screen and (max-width: 768px){
.selection{
    min-width:400px;
    margin: auto;
  }
  .selection h1{
    text-align: center;
  }
}